.App {
  font-family: sans-serif;
  text-align: center;
  
}

/* @import url("https://fonts.googleapis.com/css?family=Acme|Lobster"); */

/* This allow me to have the full width of the page without the initial padding/margin*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.splitdiv {
  height: 100%;
  width: 50%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* This part contains all of the left side of the screen */
/* ----------------------------------------- */
#leftdiv {
  margin: auto;
  margin-top: 50px;
  margin-right: 450px;
  height: 600px;
}

.main-content {
  width: auto;
  /* กำหนดความกว้างของส่วนแสดงรูปภาพ */
}

.menu-left,
.menu-right {
  width: 20%;
  /* กำหนดความกว้างของเมนูด้านซ้ายและด้านขวา */
}

#leftdivcard {
  margin: 0 auto;
  background-color: white;
  margin-top: 35vh;
  transform: translateY(-50%);
  box-shadow: 10px 10px 1px 0px rgba(78, 205, 196, 0.2);
  border-radius: 10px;
}

#leftbutton {
  background-color: #512cf3;
  border-radius: 5px;
  color: #fafafa;
}

.cropper {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;


}

.sliderRotate {
  margin-top: 150px;
  margin-left: 150px;
}

/* ----------------------------------------- */

/* This part contains all of the left side of the screen */
/* ----------------------------------------- */
#rightdiv {
  float: right;
  background-color: #eff0f0;
  height: 960px;
}

#itemdivcard {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  margin-top: 150px;
}

#imgPreview {
  width: "100%";
  height: "300px";
}

.image-container {
  background-color: #222222;
  /* Use your desired shade of gray */
  height: 100%;
  width: 100%;

  text-align: center;

}

.leftTool-container {
  background-color: hsl(211, 72%, 86%);
  /* Use your desired shade of gray */
  margin: auto;
}

.footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

/* ----------------------------------------- */

/* Basic styling */
/* ----------------------------------------- */


button {
  outline: none !important;
  font-family: Lobster;
  border: none;
  font-size: 14px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -15px;
  cursor: pointer;
}

h1 {
  font-family: Lobster;
  color: #000000;
  text-align: center;
  font-size: 33px;
}

h2 {
  font-family: Lobster;
  color: #000000;
  text-align: center;
  font-size: 40px;
}

.input {
  font-family: Acme;
  font-size: 16px;
  font-family: 15px;
}

.input {
  width: 50%;
  height: 20px;
  padding: 16px;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-block;
  border: none;
}

input:focus {
  outline: none !important;
  border: 1px solid #512cf3;
  box-shadow: 0 0 1px round #719ece;
}

/* ----------------------------------------- */

.main {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.main-h2 {
  padding-top: 20px;
  text-align: center;
}


.body-h1 {
  padding-top: 20px;
  text-align: center;
  color: white;
}

.inner-p {
  color: white;
  text-align: center;
}

.main-align {
  text-align: center;
}

.form-control {
  margin-left: 15px;
}