.App {
  text-align: center;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: sans-serif;
  background: rgb(255, 255, 255);
}

.App {
  max-width: 950px;
  margin: 0 auto;
}

.App h1 {
  font-size: 3rem;
  margin: 1rem 0 0 0;
}

.App p {
  color: #1a1a11;
  font-size: 1.5rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper label {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background: coral;
  color: #fff;
}

.input-wrapper input[type="file"] {
  position: absolute;
  left: 26px;
  top: 6px;
  z-index: -1;
  font-size: 15px;
  color: #1a1a11;
}

.result {
  margin-top: 6rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.result .box-image {
  background: rgb(0, 0, 0);
  height: 600px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result .box-p {
  background: #585858;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
}

.result p {
  line-height: 2rem;
  font-size: 1rem;
  color: white;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .result {
    grid-template-columns: 1fr 1fr;
  }
}